<h3>スケジュール詳細</h3>

<div dlass ="to_index"><%= link_to "一覧に戻る", :posts %></div>
<button class="edit"><%= link_to "編集する", [:edit_post] %></button>

<table>
    <tr>
        <th>タイトル</th>
        <td><%= @post.title %></td>

    <tr>
        <th>開始日</th>
        <td><%= @post.start_at.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
        <th>終了日</th>
        <td><%= @post.end_at.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td><% if @post.is_all_day == true %>
        ○
        <% else %>

        <% end %>
        </td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.memo %></td>
    </tr>
</table>